[Unit]
Description=gRPC-Web Proxy Support

[Service]
Type=simple
Restart=always
RestartSec=5s
WorkingDirectory=/go/bin/linux_arm
ExecStart=/go/bin/linux_arm/grpcwebproxy --backend_addr=localhost:50051 --run_tls_server=false --allow_all_origins --server_bind_address 192.168.2.2 --server_http_debug_port 50052 --server_http_max_read_timeout=0 --server_http_max_write_timeout=0

[Install]
WantedBy=multi-user.target